In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_census_data = pd.read_csv("resources/nst-est2018-alldata.csv")
raw_census_data.head()

,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2017,RDOMESTICMIG2018,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018
0,10,0,0,0,United States,308745538,308758105,309326085,311580009,313874218,...,0.000000,0.000000,2.553948,2.746049,2.701727,2.988276,3.328598,3.321549,2.941086,3.001086
1,20,1,0,0,Northeast Region,55317240,55318430,55380645,55600532,55776729,...,-5.651919,-5.222289,0.845134,0.040762,-0.397011,-0.923951,-2.011735,-2.430459,-1.801582,-1.127222
2,20,2,0,0,Midwest Region,66927001,66929743,66974749,67152631,67336937,...,-2.370672,-2.301663,-1.043009,-0.896575,0.042505,-0.715656,-1.357662,-1.226811,-0.519621,-0.431833
3,20,3,0,0,South Region,114555744,114563045,114867066,116039399,117271075,...,2.963135,2.779373,5.379667,5.836112,5.290067,6.206402,7.328494,7.225046,6.252425,6.148925
4,20,4,0,0,West Region,71945553,71946887,72103625,72787447,73489477,...,1.478565,1.350094,2.689358,3.226360,3.343874,4.148127,5.127995,5.372314,4.164981,3.965769

I want to convert the state FIPS code to state name and I want the POPESTIMATE2016 column

In [5]:
FIPS_list = raw_census_data["STATE"].value_counts()
FIPS_list

0     5
28    1
26    1
25    1
24    1
23    1
22    1
21    1
20    1
19    1
18    1
17    1
16    1
15    1
13    1
12    1
11    1
10    1
9     1
8     1
6     1
5     1
4     1
2     1
1     1
27    1
72    1
56    1
30    1
55    1
54    1
53    1
51    1
50    1
49    1
48    1
47    1
46    1
45    1
44    1
42    1
41    1
40    1
39    1
38    1
37    1
36    1
35    1
34    1
33    1
32    1
31    1
29    1
Name: STATE, dtype: int64

In [6]:
print(len(FIPS_list))

53

In [23]:
state_pops_df = raw_census_data[["STATE", "POPESTIMATE2016", "POPESTIMATE2018"]]
state_pops_df.rename(columns = {
    "STATE": "FIPS"
}, inplace=True)
state_pops_df.head()

C:\Users\Stewart\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

   FIPS  POPESTIMATE2016  POPESTIMATE2018
0     0        323071342        327167434
1     0         56058789         56111079
2     0         67996917         68308744
3     0        122401186        124753948
4     0         76614450         77993663

### Scrape Wikipedia for a FIPS state code conversion table

In [7]:
wiki_url = "https://en.wikipedia.org/wiki/Federal_Information_Processing_Standard_state_code#FIPS_state_codes"

In [8]:
wiki_tables = pd.read_html(wiki_url)
wiki_tables

[                                 0           1             2  \
 0                             Name  Alpha code  Numeric code
 1                          Alabama          AL            01
 2                           Alaska          AK            02
 3                   American Samoa          AS            60
 4                 American Samoa *         NaN            03
 5                          Arizona          AZ            04
 6                         Arkansas          AR            05
 7                     Baker Island         NaN            81
 8                       California          CA            06
 9                     Canal Zone *         NaN            07
 10                        Colorado          CO            08
 11                     Connecticut          CT            09
 12                        Delaware          DE            10
 13            District of Columbia          DC            11
 14                         Florida          FL            12
 15  Federated States of Micronesia          FM            64
 16                         Georgia          GA            13
 17                          Guam *         NaN            14
 18                            Guam          GU            66
 19                          Hawaii          HI            15
 20                  Howland Island         NaN            84
 21                           Idaho          ID            16
 22                        Illinois          IL            17
 23                         Indiana          IN            18
 24                            Iowa          IA            19
 25                   Jarvis Island         NaN            86
 26                  Johnston Atoll         NaN            67
 27                          Kansas          KS            20
 28                        Kentucky          KY            21
 29                    Kingman Reef         NaN            89
 ..                             ...         ...           ...
 45                      New Jersey          NJ            34
 46                      New Mexico          NM            35
 47                        New York          NY            36
 48                  North Carolina          NC            37
 49                    North Dakota          ND            38
 50        Northern Mariana Islands          MP            69
 51                            Ohio          OH            39
 52                        Oklahoma          OK            40
 53                          Oregon          OR            41
 54                           Palau          PW            70
 55                   Palmyra Atoll         NaN            95
 56                    Pennsylvania          PA            42
 57                   Puerto Rico *         NaN            43
 58                     Puerto Rico          PR            72
 59                    Rhode Island          RI            44
 60                  South Carolina          SC            45
 61                    South Dakota          SD            46
 62                       Tennessee          TN            47
 63                           Texas          TX            48
 64     U.S. Minor Outlying Islands          UM            74
 65                            Utah          UT            49
 66                         Vermont          VT            50
 67                        Virginia          VA            51
 68    Virgin Islands of the U.S. *         NaN            52
 69      Virgin Islands of the U.S.          VI            78
 70                     Wake Island         NaN            79
 71                      Washington          WA            53
 72                   West Virginia          WV            54
 73                       Wisconsin          WI            55
 74                         Wyoming          WY            56

                                                  3
 0                                           Status
 1                                  State; counties
 2                                  State; boroughs
 3             Outlying area under U.S. sovereignty
 4                         (FIPS 5-1 reserved code)
 5                                  State; counties
 6                                  State; counties
 7                  Minor outlying island territory
 8                                  State; counties
 9                         (FIPS 5-1 reserved code)
 10                                 State; counties
 11                                 State; counties
 12                                 State; counties
 13                             Federal district[4]
 14                                 State; counties
 15                         Freely Associated State
 16                                 State; counties
 17                        (FIPS 5-1 reserved code)
 18            Outlying area under U.S. sovereignty
 19                                 State; counties
 20                 Minor outlying island territory
 21                                 State; counties
 22                                 State; counties
 23                                 State; counties
 24                                 State; counties
 25                 Minor outlying island territory
 26                 Minor outlying island territory
 27                                 State; counties
 28                                 State; counties
 29                 Minor outlying island territory
 ..                                             ...
 45                                 State; counties
 46                                 State; counties
 47                                 State; counties
 48                                 State; counties
 49                                 State; counties
 50            Outlying area under U.S. sovereignty
 51                                 State; counties
 52                                 State; counties
 53                                 State; counties
 54                         Freely Associated State
 55                 Minor outlying island territory
 56                                 State; counties
 57                        (FIPS 5-1 reserved code)
 58            Outlying area under U.S. sovereignty
 59                                 State; counties
 60                                 State; counties
 61                                 State; counties
 62                                 State; counties
 63                                 State; counties
 64  Minor outlying island territories (aggregated)
 65                                 State; counties
 66                                 State; counties
 67                                 State; counties
 68                        (FIPS 5-1 reserved code)
 69            Outlying area under U.S. sovereignty
 70                 Minor outlying island territory
 71                                 State; counties
 72                                 State; counties
 73                                 State; counties
 74                                 State; counties

 [75 rows x 4 columns],
            0                                                  1
 0   EAS code                                      Maritime area
 1         57        Pacific coast from Washington to California
 2         58                                      Alaskan coast
 3         59                                     Hawaiian coast
 4         61                              American Samoa waters
 5         65            Mariana Islands waters (including Guam)
 6         73              Atlantic coast from Maine to Virginia
 7         75  Atlantic coast from North Carolina to Florida,...
 8         77                                     Gulf of Mexico
 9         91                                      Lake Superior
 10        92                                      Lake Michigan
 11        93                                         Lake Huron
 12        94  St. Clair River, Detroit River, and Lake St. C...
 13        96                                          Lake Erie
 14        97                     Niagara River and Lake Ontario
 15        98                                 St. Lawrence River,
                                                     0  \
 0                vteUnited States state-related lists
 1   List of states and territories of the United S...
 2                                        Demographics
 3                                             Economy
 4                                         Environment
 5                                           Geography
 6                                          Government
 7                                              Health
 8                                             History
 9                                                 Law
 10                                      Miscellaneous
 11                         Category  Commons  Portals

                                                     1
 0                                                 NaN
 1                                                 NaN
 2   Educational attainment Irreligion Largest citi...
 3   Billionaires Budgets Companies Federal tax rev...
 4   Carbon dioxide emissions Botanical gardens Par...
 5   Area Bays Beaches Coastline Elevation Extreme ...
 6   Agriculture commissioners Attorneys general Ca...
 7   Fertility rates Hospitals Human Development In...
 8   Date of statehood Name etymologies Historical ...
 9   Abortion Age of consent Alcohol Dry communitie...
 10  Abbreviations Casinos Demonyms Fictional state...
 11                                                NaN  ,
                        0                                                  1  \
 0   vteGeocoding systems                                                NaN
 1   Administrative codes  HASC NUTS (EU) ONS MARC country codes SGC code...
 2          Airport codes                IATA airport code ICAO airport code
 3          Country codes  IANA country code ISO 3166-1 alpha-2 alpha-3 n...
 4    Geodesicplace codes  Global Geohash Geohash-36 GEOREF Geotude SALB ...
 5                 Global  Geohash Geohash-36 GEOREF Geotude SALB Mapcode...
 6          North America  FIPS country code (FIPS 10-4) FIPS place code ...
 7           Postal codes  Natural Area Code Postal Index Number (India) ...
 8              Telephony  ITU-R country codes ITU-T country calling code...
 9     Radio broadcasting  Maidenhead Locator System Historical : QRA loc...
 10                 Sport               IOC country codes FIFA country codes
 11                Global  Geohash Geohash-36 GEOREF Geotude SALB Mapcode...
 12         North America  FIPS country code (FIPS 10-4) FIPS place code ...

          2                                                  3              4  \
 0      NaN                                                NaN            NaN
 1      NaN                                                NaN            NaN
 2      NaN                                                NaN            NaN
 3      NaN                                                NaN            NaN
 4   Global  Geohash Geohash-36 GEOREF Geotude SALB Mapcode...  North America
 5      NaN                                                NaN            NaN
 6      NaN                                                NaN            NaN
 7      NaN                                                NaN            NaN
 8      NaN                                                NaN            NaN
 9      NaN                                                NaN            NaN
 10     NaN                                                NaN            NaN
 11     NaN                                                NaN            NaN
 12     NaN                                                NaN            NaN

                                                     5
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4   FIPS country code (FIPS 10-4) FIPS place code ...
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN  ,
                0                                                  1
 0         Global  Geohash Geohash-36 GEOREF Geotude SALB Mapcode...
 1  North America  FIPS country code (FIPS 10-4) FIPS place code ...]

In [9]:
FIPS_df = wiki_tables[0]
FIPS_df.head()

,0,1,2,3
0,Name,Alpha code,Numeric code,Status
1,Alabama,AL,01,State; counties
2,Alaska,AK,02,State; boroughs
3,American Samoa,AS,60,Outlying area under U.S. sovereignty
4,American Samoa *,NaN,03,(FIPS 5-1 reserved code)

In [11]:
FIPS_df[3].value_counts()

State; counties                                   48
Minor outlying island territory                    9
(FIPS 5-1 reserved code)                           5
Outlying area under U.S. sovereignty               5
Freely Associated State                            3
Federal district[4]                                1
State; parishes                                    1
Minor outlying island territories (aggregated)     1
State; boroughs                                    1
Status                                             1
Name: 3, dtype: int64

In [12]:
only_state_FIPS_df = FIPS_df[FIPS_df[3].str.contains("State")]
only_state_FIPS_df[3].value_counts()

State; counties            48
Freely Associated State     3
State; parishes             1
State; boroughs             1
Name: 3, dtype: int64

In [13]:
only_state_FIPS_df = only_state_FIPS_df[only_state_FIPS_df[3] != "Freely Associated State"]
only_state_FIPS_df[3].value_counts()

State; counties    48
State; parishes     1
State; boroughs     1
Name: 3, dtype: int64

In [14]:
only_state_proper_col_names = only_state_FIPS_df.rename(columns = {
    0: "Name",
    1: "Alpha",
    2: "FIPS",
    3: "Status"
})
only_state_proper_col_names.head()

         Name Alpha FIPS           Status
1     Alabama    AL   01  State; counties
2      Alaska    AK   02  State; boroughs
5     Arizona    AZ   04  State; counties
6    Arkansas    AR   05  State; counties
8  California    CA   06  State; counties

In [15]:
print(len(only_state_proper_col_names["Status"]))

50

In [16]:
only_state_proper_col_names.dtypes

Name      object
Alpha     object
FIPS      object
Status    object
dtype: object

In [17]:
FIPS_conversion_df = only_state_proper_col_names[["Alpha", "FIPS"]]
FIPS_conversion_df["FIPS"] = FIPS_conversion_df["FIPS"].astype("int")
FIPS_conversion_df.head()

C:\Users\Stewart\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

  Alpha  FIPS
1    AL     1
2    AK     2
5    AZ     4
6    AR     5
8    CA     6

In [19]:
name_list = raw_census_data["NAME"].value_counts()
name_list

Puerto Rico             1
Rhode Island            1
Virginia                1
Massachusetts           1
Oregon                  1
Georgia                 1
Midwest Region          1
Kansas                  1
West Region             1
New Hampshire           1
Kentucky                1
Nevada                  1
Texas                   1
Minnesota               1
Michigan                1
Illinois                1
Maryland                1
Montana                 1
Vermont                 1
North Carolina          1
Louisiana               1
Utah                    1
Idaho                   1
Alaska                  1
South Region            1
North Dakota            1
Iowa                    1
California              1
Tennessee               1
Hawaii                  1
Ohio                    1
South Carolina          1
Northeast Region        1
Maine                   1
Florida                 1
United States           1
Mississippi             1
New York                1
West Virginia           1
Arizona                 1
New Jersey              1
Nebraska                1
Pennsylvania            1
New Mexico              1
Alabama                 1
South Dakota            1
Indiana                 1
Colorado                1
Missouri                1
Wisconsin               1
Connecticut             1
Wyoming                 1
Oklahoma                1
Delaware                1
District of Columbia    1
Washington              1
Arkansas                1
Name: NAME, dtype: int64

In [20]:
print(len(name_list))

57

In [26]:
state_pops_alpha = pd.merge(FIPS_conversion_df, state_pops_df, how = "left",
                            on = "FIPS")
state_pops_alpha

   Alpha  FIPS  POPESTIMATE2016  POPESTIMATE2018
0     AL     1          4864745          4887871
1     AK     2           741504           737438
2     AZ     4          6945452          7171646
3     AR     5          2990410          3013825
4     CA     6         39209127         39557045
5     CO     8          5540921          5695564
6     CT     9          3578674          3572665
7     DE    10           949216           967171
8     FL    12         20629982         21299325
9     GA    13         10304763         10519475
10    HI    15          1428105          1420491
11    ID    16          1682930          1754208
12    IL    17         12826895         12741080
13    IN    18          6633344          6691878
14    IA    19          3131785          3156145
15    KS    20          2911263          2911505
16    KY    21          4438229          4468402
17    LA    22          4678215          4659978
18    ME    23          1331370          1338404
19    MD    24          6004692          6042718
20    MA    25          6826022          6902149
21    MI    26          9951890          9995915
22    MN    27          5523409          5611179
23    MS    28          2988298          2986530
24    MO    29          6087203          6126452
25    MT    30          1040863          1062305
26    NE    31          1905924          1929268
27    NV    32          2919772          3034392
28    NH    33          1342373          1356458
29    NJ    34          8874516          8908520
30    NM    35          2092789          2095428
31    NY    36         19641589         19542209
32    NC    37         10156679         10383620
33    ND    38           754353           760077
34    OH    39         11635003         11689442
35    OK    40          3926769          3943079
36    OR    41          4091404          4190713
37    PA    42         12783538         12807060
38    RI    44          1057063          1057315
39    SC    45          4958235          5084127
40    SD    46           862890           882235
41    TN    47          6645011          6770010
42    TX    48         27937492         28701845
43    UT    49          3042613          3161105
44    VT    50           623644           626299
45    VA    51          8410946          8517685
46    WA    53          7294680          7535591
47    WV    54          1830929          1805832
48    WI    55          5772958          5813568
49    WY    56           584290           577737

In [25]:
print(len(state_pops_alpha["FIPS"]))

50

In [29]:
state_pops_alpha.dtypes

Alpha              object
FIPS                int32
POPESTIMATE2016     int64
POPESTIMATE2018     int64
dtype: object

In [30]:
state_pops_alpha.to_csv("resources/population_data_2016_2018.csv")