In [1]:
import pandas as pd
import numpy as np

In [2]:
beer_data = pd.read_csv("resources/clean_breweries.csv")
select_tax_data = pd.read_csv("resources/Tax_DF_Select_Columns_For_Merge.csv")

In [3]:
beer_data.head()

,Unnamed: 0,country,postalCode,province,city,address,lat,long,categories,name
0,0,US,78745,TX,Austin,407 Radam Ln,NaN,NaN,brewery,(512) Brewing Co
1,5,US,91362,CA,Westlake Village,31111 Via Colinas,NaN,NaN,brewery,101 Cider House
2,6,US,94954,CA,Petaluma,1304 Scott St,NaN,NaN,brewery,101 North Brewing Company
3,9,US,99206,WA,Spokane Valley,11616 E Montgomery Dr,NaN,NaN,brewery,12 String Brewery
4,11,US,5478,VT,Stalbans,41 Lower Newton St,44.810713,-73.083558,brewery,14th Star Brewing Co Llc

In [4]:
select_tax_data.head()

,Unnamed: 0,STATE,ZIPCODE,NUMBER OF RETURNS,NUMBER OF RETURNS WITH TOTAL INCOME,TOTAL INCOME AMOUNT,NUMBER OF RETURNS WITH SALARIES AND WAGES,SALARIES AND WAGES AMOUNT
0,1,AL,35004,5210,5210,290260,4550,234833
1,2,AL,35005,3100,3100,121690,2660,98565
2,3,AL,35006,1200,1200,57418,1040,43707
3,4,AL,35007,11940,11940,697882,10180,545418
4,5,AL,35010,7910,7910,384319,6700,266658

In [5]:
beer_data_renamed = beer_data.rename(columns={
    "postalCode": "ZIPCODE",
    "province": "STATE"
})
beer_data_renamed.head()

,Unnamed: 0,country,ZIPCODE,STATE,city,address,lat,long,categories,name
0,0,US,78745,TX,Austin,407 Radam Ln,NaN,NaN,brewery,(512) Brewing Co
1,5,US,91362,CA,Westlake Village,31111 Via Colinas,NaN,NaN,brewery,101 Cider House
2,6,US,94954,CA,Petaluma,1304 Scott St,NaN,NaN,brewery,101 North Brewing Company
3,9,US,99206,WA,Spokane Valley,11616 E Montgomery Dr,NaN,NaN,brewery,12 String Brewery
4,11,US,5478,VT,Stalbans,41 Lower Newton St,44.810713,-73.083558,brewery,14th Star Brewing Co Llc

In [6]:
# The tax data has significantly more entries than the beer data.
print(len(beer_data_renamed.ZIPCODE))
print(len(select_tax_data.ZIPCODE))

5714
29872

In [10]:
beer_data_renamed.dtypes

Unnamed: 0      int64
country        object
ZIPCODE        object
STATE          object
city           object
address        object
lat           float64
long          float64
categories     object
name           object
dtype: object

In [13]:
beer_data_renamed[beer_data_renamed.ZIPCODE.str.contains(",")]

,Unnamed: 0,country,ZIPCODE,STATE,city,address,lat,long,categories,name
29,76,US,"97227, 97212",OR,Portland,3901 N Williams Ave,45.550914,-122.667015,brewery,5th Quadrant
673,2920,US,"49301, 49357",MI,Ada,418 Ada Dr,42.955520,-85.483830,brewery,Gravel Bottom Craft Brewery Supply

In [14]:
beer_data_renamed.ZIPCODE = beer_data_renamed.ZIPCODE.str.split(",").str[0]

In [15]:
beer_data_renamed[beer_data_renamed.ZIPCODE.str.contains(",")]

Empty DataFrame
Columns: [Unnamed: 0, country, ZIPCODE, STATE, city, address, lat, long, categories, name]
Index: []

In [11]:
select_tax_data.dtypes

Unnamed: 0                                    int64
STATE                                        object
ZIPCODE                                       int64
NUMBER OF RETURNS                             int64
NUMBER OF RETURNS WITH TOTAL INCOME           int64
TOTAL INCOME AMOUNT                           int64
NUMBER OF RETURNS WITH SALARIES AND WAGES     int64
SALARIES AND WAGES AMOUNT                     int64
dtype: object

In [16]:
beer_data_renamed["ZIPCODE"] = beer_data_renamed["ZIPCODE"].astype("int")
beer_data_renamed.dtypes

Unnamed: 0      int64
country        object
ZIPCODE         int32
STATE          object
city           object
address        object
lat           float64
long          float64
categories     object
name           object
dtype: object

In [19]:
# For the merge, we'll want to keep all columns of tax data, with multiple entries for zip codes that contain more than one brewery.
# So we need an outer join

merged_df = pd.merge(select_tax_data, beer_data_renamed, on= ["ZIPCODE", "STATE"], how="outer")
merged_df.head(200)

# Columns to drop: "Unnamed: 0_x", "Unnamed: 0_y", "country"

,Unnamed: 0_x,STATE,ZIPCODE,NUMBER OF RETURNS,NUMBER OF RETURNS WITH TOTAL INCOME,TOTAL INCOME AMOUNT,NUMBER OF RETURNS WITH SALARIES AND WAGES,SALARIES AND WAGES AMOUNT,Unnamed: 0_y,country,city,address,lat,long,categories,name
0,1.0,AL,35004,5210.0,5210.0,290260.0,4550.0,234833.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,AL,35005,3100.0,3100.0,121690.0,2660.0,98565.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,AL,35006,1200.0,1200.0,57418.0,1040.0,43707.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,AL,35007,11940.0,11940.0,697882.0,10180.0,545418.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,AL,35010,7910.0,7910.0,384319.0,6700.0,266658.0,15973.0,US,Alexander City,"Via Giuseppe Garibaldi, 54",NaN,NaN,brewery,Azienda Agricola Francesco De Tacchi
5,6.0,AL,35014,1620.0,1620.0,75228.0,1410.0,57364.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7.0,AL,35016,7130.0,7130.0,366988.0,5680.0,262108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8.0,AL,35019,890.0,890.0,38993.0,740.0,30460.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9.0,AL,35020,9050.0,9050.0,251540.0,7930.0,207009.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10.0,AL,35022,9800.0,9800.0,551747.0,8270.0,432275.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11.0,AL,35023,10050.0,10050.0,469381.0,8330.0,358387.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12.0,AL,35031,2860.0,2860.0,121339.0,2400.0,95760.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13.0,AL,35033,1380.0,1380.0,81906.0,1160.0,59485.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14.0,AL,35034,1390.0,1390.0,52266.0,1230.0,40327.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15.0,AL,35035,570.0,570.0,37725.0,460.0,21504.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16.0,AL,35040,7590.0,7590.0,402014.0,6780.0,332262.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17.0,AL,35042,2200.0,2200.0,103462.0,1880.0,81515.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18.0,AL,35043,5070.0,5070.0,422071.0,4300.0,317647.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19.0,AL,35044,3060.0,3060.0,128191.0,2610.0,96251.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20.0,AL,35045,5500.0,5500.0,257571.0,4630.0,192997.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21.0,AL,35046,2350.0,2350.0,125440.0,1890.0,90849.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22.0,AL,35049,1550.0,1550.0,76185.0,1300.0,61363.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23.0,AL,35051,3290.0,3290.0,208502.0,2750.0,142647.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24.0,AL,35053,1050.0,1050.0,67089.0,740.0,41015.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25.0,AL,35054,1820.0,1820.0,127737.0,1410.0,78989.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,26.0,AL,35055,7950.0,7950.0,415554.0,6610.0,297425.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,27.0,AL,35057,5290.0,5290.0,285110.0,4450.0,212561.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,28.0,AL,35058,4220.0,4220.0,215699.0,3500.0,158418.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29.0,AL,35060,160.0,160.0,4445.0,130.0,3526.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30.0,AL,35061,640.0,640.0,22427.0,550.0,17170.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,164.0,AL,35563,1560.0,1560.0,69832.0,1320.0,51050.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,165.0,AL,35564,780.0,780.0,28396.0,640.0,21973.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,166.0,AL,35565,4710.0,4710.0,195663.0,4040.0,145617.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,167.0,AL,35570,3900.0,3900.0,164783.0,3250.0,121614.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,168.0,AL,35571,330.0,330.0,14477.0,270.0,10765.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,169.0,AL,35572,380.0,380.0,17550.0,290.0,11057.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,170.0,AL,35574,560.0,560.0,24688.0,450.0,19365.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,171.0,AL,35575,370.0,370.0,15280.0,330.0,12802.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,172.0,AL,35576,1140.0,1140.0,52450.0,910.0,39094.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,173.0,AL,35578,1820.0,1820.0,73569.0,1570.0,58385.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,174.0,AL,35579,1170.0,1170.0,50228.0,980.0,39162.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,175.0,AL,35580,1430.0,1430.0,64916.0,1220.0,49719.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,176.0,AL,35581,1930.0,1930.0,74124.0,1640.0,58681.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,177.0,AL,35582,1680.0,1680.0,85224.0,1460.0,57939.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,178.0,AL,35584,160.0,160.0,5099.0,140.0,3661.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,179.0,AL,35585,610.0,610.0,25521.0,490.0,19770.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,180.0,AL,35586,1580.0,1580.0,66241.0,1330.0,51757.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,181.0,AL,35587,310.0,310.0,13753.0,250.0,9541.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,182.0,AL,35592,1620.0,1620.0,72047.0,1350.0,55691.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,183.0,AL,35593,670.0,670.0,27478.0,600.0,23027.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,184.0,AL,35594,2840.0,2840.0,137030.0,2420.0,103934.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,185.0,AL,35601,13580.0,13580.0,600460.0,11340.0,408374.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,186.0,AL,35603,13950.0,13950.0,902917.0,11410.0,607664.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,187.0,AL,35610,750.0,750.0,32956.0,600.0,25524.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,188.0,AL,35611,10180.0,10180.0,477358.0,8410.0,340241.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,189.0,AL,35613,9040.0,9040.0,696180.0,7440.0,495251.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,190.0,AL,35614,2990.0,2990.0,137876.0,2480.0,101842.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,191.0,AL,35616,1460.0,1460.0,64135.0,1180.0,47446.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,192.0,AL,35618,750.0,750.0,28898.0,640.0,20986.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,193.0,AL,35619,2020.0,2020.0,94026.0,1680.0,72401.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
cleaner_merged_df = merged_df.drop(labels = ["Unnamed: 0_x", "Unnamed: 0_y", "country"], axis=1)
cleaner_merged_df.head()

,STATE,ZIPCODE,NUMBER OF RETURNS,NUMBER OF RETURNS WITH TOTAL INCOME,TOTAL INCOME AMOUNT,NUMBER OF RETURNS WITH SALARIES AND WAGES,SALARIES AND WAGES AMOUNT,city,address,lat,long,categories,name
0,AL,35004,5210.0,5210.0,290260.0,4550.0,234833.0,NaN,NaN,NaN,NaN,NaN,NaN
1,AL,35005,3100.0,3100.0,121690.0,2660.0,98565.0,NaN,NaN,NaN,NaN,NaN,NaN
2,AL,35006,1200.0,1200.0,57418.0,1040.0,43707.0,NaN,NaN,NaN,NaN,NaN,NaN
3,AL,35007,11940.0,11940.0,697882.0,10180.0,545418.0,NaN,NaN,NaN,NaN,NaN,NaN
4,AL,35010,7910.0,7910.0,384319.0,6700.0,266658.0,Alexander City,"Via Giuseppe Garibaldi, 54",NaN,NaN,brewery,Azienda Agricola Francesco De Tacchi

In [21]:
cleaner_merged_df.to_csv("resources/merged_data.csv")